.navbar-nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.navbar-nav > li> a {
    text-transform: uppercase;
    font-weight: bold;
}

span {
    margin-top: 5px;
}

span::after {
    content: '|';
}